#header {
    padding: 8px;
    background-color: #05445E;
    color: white;
    margin: auto;

}

#heading {
    font-size: 35px;
}

#firstRow {
    padding-top: 26px;
}
#mainContainer{
    padding-top: 17px;
    padding-bottom:25px;
} 

#studentInfoTable {
    border-width: 3px;
    border-color: #189AB4;
    padding: 0px
}

#displayTable {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

#OutputTable {
    border-width: 4px;
    background-color:#189AB4;
    color: white;
}

#vertical {
    border-left: 3px solid #189AB4;
    height: 400px;
    position: absolute;
    left: 50%;
    text-align: right;
}

footer {
    background-color: #05445E;
    text-align: center;
    color: white;
   
}


tr:nth-child(even) {
    background-color: #D4F1F4;
    padding: 0 0 0 0;
    font-size: 13px
}

tr:nth-child(odd) {
   
    padding: 0 0 0 0;
    font-size: 13px;
}



#image {
    width: 150px;
}

#newData {
    border-color: #189AB4;
}

/* Fade in Animation for when a student is enrolled */
.animated {
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* Color of the error message */
#errorMsg {
    color: red;
}

* {
    outline: none;
}

.message  {
    display: inline-block;
    content: "invalid Input";
    color: red;
}

